.DS_Store
node_modules/
unpackage/
dist/

# local env files
.env.local
.env.*.local

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Editor directories and files
.project
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw*

/src/utils
!/src/utils/project.js
!/src/utils/struct.js
/yarn.lock
/src/components/lj/icon/demo_index.html
/src/components/lj/nul
/src/components/lj
/src/lj
