// fade 渐变
.fade {
  &-enter-active {
    animation: 0.5s fade-in;
  }

  &-leave-active {
    animation: 0.5s fade-out;
  }
}
@keyframes fade-in {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes fade-out {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}
